
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
  background: linear-gradient( 340deg, rgba(1, 0, 7, 1) 30%, rgba(166, 6, 7, 0.9585084033613446) 100% );
  color: white;
}

header h1 {
  font-weight: normal;
  padding: 20px;
  letter-spacing: 0.1em;
}

#sound{
  position: fixed;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 620px;
  left: 37rem;
  z-index:99;
  display: none;
}

#modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(256,256,256,1);
  z-index: 100;
  cursor: pointer;
}

#modal #start {
  padding: 10px 20px;
  border: solid 2px red;
  font-size: 41px;
  color: red;
}

#modal:hover #start {
  background: red;
  color: #fff;
}

canvas {
  background-image: url(media/BG.jpg);
  background-size: 100px px;
  margin: auto;
  position: relative;
  z-index: 1;
  border: solid 1px 
}

.hidden {
  display: none !important;
}

footer {
  font-size: 30px;
  padding: 30px;
}

footer a {
  text-decoration: none;
  color: red;
}

footer a:hover {
  text-decoration: underline;
  color: yellow;
}

