* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
  /* background: linear-gradient(
     340deg,
    rgba(1, 0, 7, 1) 30%,
    rgba(166, 6, 7, 0.9585084033613446) 100% 
  ); */
  color: white;
 
}

header h1 {
  font-weight: normal;
  padding: 20px;
  letter-spacing: 0.1em;
}

#replay{
  position: absolute;
  top: 75%;
  left: 37.7%;
  z-index: 99;
  cursor: pointer;
  font-size: 350%;
  display: none;
}
#replay:hover{

  
  color: rgb(45, 74, 74);

}
#sound {
  position: fixed;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 77%;
  left: 28%;
  z-index: 99;
  display: none;
}

#modal {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

#modal #start {
  padding: 10px 10px;
  font-size: 51px;
  color: red;
  border-radius: 20px;
  font-family: fantasy;
}

#menu{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 100;
}

#highscore,
#yourscore {
  width: 220px;
  height: 80px;
  position: absolute;
  z-index: 3;
  top: 23%;
  left: 25%;
  font-size: 200%;
  text-align: center;
  padding-top: 20px;
  color: red;
  font-family: "Gamja Flower";
  background-color: rgb(30, 28, 59);
  text-transform: capitalize;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
}
#highscore span {
  color: white;
}
#yourscore {
  left: 56%;
}

#modal:hover #start {
 
  color: #fff;
}

canvas {
  background-image: url(media/pexels-harry-cooke-6194839.jpg);
  background-size: 850px 500px;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  z-index: 1;
  border: solid 1px;
  
}

.hidden {
  display: none !important;
}

footer {
  font-size: 30px;
  padding: 30px;
}

footer a {
  text-decoration: none;
  color: red;
}

footer a:hover {
  text-decoration: underline;
  color: yellow;
}
#scorevalue {
  color: white;
}
#menu button{
  display: block;

  width:150px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(135, 153, 169);
  border-color: white;
  border-width: 0;
  color: rgb(145, 236, 193);
  font-family: "Gamja Flower";
  font-size: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
}

#menu button:hover{

  width:180px;
  border-width: 2px;
  border-color:wheate;


}

#menu div{

  font-size: 40px;
  font-family:'Arial Narrow', Arial, sans-serif;
  color: rgb(65, 132, 132);
  font-weight: bolder;
}
